.App {
  text-align: center;
  justify-content:center;
  align-items:center;
}

.App-gameSquare {
  margin: auto;
  position: relative;
  height: 300px;
  width: 300px;
  border: 10px solid red;
  border-radius: 5px;
  background: lightgrey;
}

.App-fullImg {
  height: 300px;
  width: 300px;
}